.button {
  background-color: rgba(255, 85, 40, 1);
  width: 192px;
  height: 60px;
  border-radius: 99px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}

.button p {
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
  font-size: 14px;
  line-height: 34px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}

@media (max-width: 1080px) {
  .button {
    width: 71.5px;
    height: 23.49px;
    gap: 5.24px;
  }

  .button p {
    font-weight: 700;
    font-size: 6.13px;
    letter-spacing: 0.41px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
  }

  .arrow {
    width: 6px;
    height: 6px;
  }
}
