.headerLink {
  height: 34px;
  display: flex;
  gap: 5px;
  align-items: center;
  width: fit-content;

  &:hover {
    .title {
      color: rgba(255, 85, 40, 1);
    }
    .arrow {
      filter: invert(45%) sepia(100%) saturate(7000%) hue-rotate(10deg) brightness(150%) contrast(85%);
    }
  }
}

.title {
  text-decoration: none;
  color: rgba(52, 52, 52, 1);
  font-family: DM Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 34px;
  letter-spacing: 0%;
}

.arrow {
  margin-top: 2px;
}
